{% extends 'main.html' %}

{% block title %}
	Shop
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="h3 mb-3 fw-normal text-center">Shop</h1>

		{% if products|length > 0 %}
			{% for element in products %}
				<div class="alert alert-info">
					<h2 class="h3 mb-3 fw-normal">{{ element.name }}</h2>
					<p>{{ element.info }}</p>
					<p><b>{{ element.price }}</b></p>
					<a href="/shop/{{ element.id }}" class="btn btn-warning">More info</a>
				</div>
			{% endfor %}
		{% else %}
			<p class="h3 mb-3 fw-normal text-center">This shop is empty</p>
		{% endif %}
	</div>
{% endblock %}