{% extends 'main.html' %}

{% block title %}
    Support
{% endblock %}

{% block body %}

    <div class="py-5">
        <h1 class="h3 mb-3 fw-normal text-center">Support</h1>

        <p class="text-center">In this page you can read about some errors</p>
        <p>List of errors:</p>

        <div>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/basket_error">Basket error</a> <br>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/login_error">Loggin error</a> <br>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/register_error">Register error</a>
        </div>
    </div>

{% endblock %}